@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <form asp-action="Login" asp-controller="Admin">
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>